<!-- Hero Start -->
<div *ngIf="mobile" class="back-to-home rounded">
  <div class="btn-group dropdown-primary" ngbDropdown>
    <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
      aria-haspopup="true" aria-expanded="false">
      <i-feather name="menu" className="fea icon-sm"></i-feather>
    </button>
    <div class="dropdown-menu " ngbDropdownMenu>
      <a class="dropdown-item" routerLink="/main">Profil</a>
      <a class="dropdown-item" style="background: #337ab7; color: white" routerLink="/vaccinations">Szczepienia</a>
      <a class="dropdown-item" routerLink="/blood">Wyniki krwi</a>
      <a class="dropdown-item">Pełna teczka badań</a>
      <a class="dropdown-item">Wizyty u specjalistów</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/settings" >Ustawienia</a>
      <a class="dropdown-item" (click)=logout() routerLink="/login"><b>Wyloguj się</b></a>
    </div>
  </div>
</div>



<section class="bg-profile d-table w-100 bg-primary" style="background: url('assets/images/main/bg.png') center center;"
  id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card public-profile rounded shadow-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-3 text-md-start text-center">
                <img src="assets/images/main/avatar.png"
                  class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6">
                <div class="row align-items-end">
                  <div class="col-md-8 text-md-start text-center">
                    <h3 class="title mb-0">{{name}} {{lastName}} 
                      <!-- <button (click)="copyCode()" class="h3 text-primary bg-white border-0 p-0 m-0"  ngbTooltip="Skopiuj kod">
                        <i class="uil uil-copy"></i>
                      </button> -->
                    </h3>
                    <!-- <div class="row "> -->
                      <small class="h6 me-2">{{email}}<br>
                      <!-- //<div class="col-lg-12"> -->
                        Twój kod: <b>{{code}}</b>
                          <button (click)="copyCode()" class="h4 text-primary bg-white border-0"  ngbTooltip="Skopiuj kod">
                          <i class="uil uil-copy"></i>
                        </button> 
                      </small> 
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <div class="col-lg-4 col-md-3 mt-2">
                <div class="text-center">
                  <p>Twój Kod QR<br>
                    <qr-code [value]=code_link></qr-code>
                  </p>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--ed container-->
</section>
<!--end section-->
<!-- Hero End -->
<br>
<!-- Profile Start -->
<section class="section mt-60" id="vaccinations_tab">

  <div class="container mt-lg-3">
    <div class="row">



      <div *ngIf="isVisible_list" class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
        <div class="sidebar sticky-bar px-4 rounded shadow">
          <div class="widget">
            <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
              <li class="navbar-item account-menu px-0">
                <a routerLink="/main" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-user-circle"></i></span>
                  <h6 class="mb-0 ms-2 ">Profil</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2 active">
                <a routerLink="/vaccinations" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-syringe"></i></span>
                  <h6 class="mb-0 ms-2">Szczepienia</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2">
                <a routerLink="/blood" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-file"></i></span>
                  <h6 class="mb-0 ms-2">Wyniki krwi</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2">
                <a routerLink="/account-messages"
                  class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-folder-open"></i></span>
                  <h6 class="mb-0 ms-2">Pełna teczka badań</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2">
                <a routerLink="/account-payments"
                  class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-stethoscope"></i></span>
                  <h6 class="mb-0 ms-2">Wizyty u specjalistów</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2">
                <a routerLink="/settings" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                  <h6 class="mb-0 ms-2">Ustawienia</h6>
                </a>
              </li>

              <li class="navbar-item account-menu px-0 mt-2">
                <a (click)=logout() routerLink="/login"
                  class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                  <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                  <h6 class="mb-0 ms-2">Wyloguj się</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-8 col-12 position-relative">
        <div *ngIf="isVisible" class="pb-4">
          <div class="d-inline-flex col-12">
            <h3 class="col-11">Szczepienia</h3>
            <button [ngxScrollTo]="'#vaccinations'" [ngxScrollToDuration]="'0'"
              class="h3 text-primary bg-white border-0 p-0 m-0" (click)="show_vaccinations_settings()"
              ngbTooltip="Ustawienia">
              <i class="uil uil-setting"></i>
            </button>
          </div>
          <hr>
          <table [style.visibility]="(vaccinations_counter == 0) ? 'hidden' : 'visible' " class=" table mb-0 table-center">
            <thead>
              <tr>
                <th scope="col" class="border-bottom" style="width:10%;">#</th>
                <th scope="col" class="border-bottom" style="width:25%;">Nazwa szczepienia</th>
                <th scope="col" class="border-bottom" style="width:50%;">Data szczepienia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vaccine of vaccinationsList; let indexOfElement=index;">
                <td>{{indexOfElement+1}}</td>
                <td>{{vaccine.name}}</td>
                <td>{{vaccine.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="isVisible_vaccinations" id="vaccinations" class="col-12">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12 mb-5">
              <div class="px-3 py-4 mb-5">
                <form id="vaccinationsForm" #fv="ngForm" (submit)="onVaccinationsSubmit(fv)">
                  <h4 class="title text-center">Szczepienia</h4>
                  <div class="row">
                    <p class="text-secondary text-center para-desc mb-2 mx-auto">Wpisz poniżej nazwe szczepienia oraz
                      wybierz datę jego wykonania</p>
                    <div class="col-lg-8">
                      <div class="mb-3 mt-4">
                        <label class="form-label">Nazwa szczepienia<span class="text-danger">*</span></label>
                        <div class="form-icon position-relative">
                          <i-feather name="edit-2" class="fea icon-sm icons d-flex"></i-feather>
                          <input type="text" name="name" class="form-control ps-5 pt-2" placeholder="Nazwa szczepienia"
                            ngModel required minlength="3">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3 mt-4">
                        <label class="form-label">Data szczepienia<span class="text-danger">*</span></label>
                        <div class="form-icon position-relative">
                          <i-feather name="calendar" class="fea icon-sm icons d-flex"></i-feather>
                          <input readonly class="form-control ps-5 pt-2" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                            [maxDate]="{year: date.getFullYear(), month: date.getMonth()+1, day: date.getDate()}"
                            (click)="d.toggle()">
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-0 pb-4 text-center w-100">
                      <p class="text-secondary para-desc mb-0 mx-auto">Możesz dodać maksymalnie 10 szczepień</p>
                      <div class="col-5 justify-content-center w-100">
                        <button type="submit" name="push" class="btn btn-success"
                          [disabled]="!fv.valid || vaccinations_counter>9">Dodaj</button>
                      </div>
                    </div>
                    <!--end col-->

                    <div name="table" class="p-4">
                      <div class="table-responsive bg-white shadow rounded" id="vaccinationsTable">
                        <div></div>
                        <table class="table mb-0 table-center">
                          <thead>
                            <tr>
                              <th scope="col" class="border-bottom">#</th>
                              <th scope="col" class="border-bottom">Nazwa szczepienia</th>
                              <th scope="col" class="border-bottom">Data wykonania</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let vaccinations of vaccinations_tmp ; let indexOfElement=index;">
                              <td>{{indexOfElement+1}}</td>
                              <td>{{vaccinations.name}}</td>
                              <td>{{vaccinations.date}}</td>
                              <td><input class="btn btn-danger btn-sm align-items-center" type="button" value="X"
                                  (click)="delete_vaccinations(indexOfElement,vaccinations.id)"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!--end table-->

                    <div class="col mb-0">
                      <div class="d-grid">
                        <button [ngxScrollTo]="'#vaccinations_tab'" [ngxScrollToDuration]="'0'"
                          class="btn btn-secondary" (click)="back_to_start(); clean_form(fv)">Pomiń</button>
                      </div>
                    </div>
                    <div class="col mb-0">
                      <div class="d-grid">
                        <button [ngxScrollTo]="'#vaccinations_tab'" [ngxScrollToDuration]="'0'" class="btn btn-primary"
                          (click)="back_to_start_complete_5(); clean_form(fv)">Gotowe</button>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>

              </div>
              <!---->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end containter hidden_4-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

</section>
<!--end section-->
<!-- Profile End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<app-footer [footerVariant]="footerClass" [hideFooter]="hideFooter"></app-footer>
<!-- Back to top -->