input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

:host ::ng-deep .the-ngb-dp-class {
    color: black !important;
    background-color: #2f55d4;
}