<!-- Hero Start -->
<section class="bg-profile d-table w-100 bg-primary"
         style="background: url('assets/images/main/bg.png') center center;" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card public-profile rounded shadow-sm" style="z-index: 1;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-md-3 text-md-start text-center">
                                <img src="assets/images/main/avatar.jpg" class="avatar avatar-large rounded-circle shadow d-block mx-auto"
                                     alt="">
                            </div>
                            <!--end col-->
                            <div class="col-lg-10 col-md-9">
                                <div class="row align-items-end">
                                    <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                        <h3 class="title mb-0">{{name}} {{lastName}}</h3>
                                        <small class="text-muted h6 me-2">{{email}}</small>
                                        <small class="text-muted h6 me-2">Twój unikalny kod: {{code}}</small>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--ed container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Profile Start -->
<section class="section mt-60">
    <div class="container mt-lg-3">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="pb-4">
                    <h3 class="text-center">Osoby kontaktowe</h3>
                    <hr>
                    <table class=" table mb-0 table-center">
                        <thead>
                        <tr>
                            <th scope="col" class="border-bottom mx-auto" >Numer telefonu</th>
                            <th scope="col" class="border-bottom mx-auto" >Typ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let contact of contactList">
                            <td>{{contact.phoneNumber}}</td>
                            <td *ngIf="(contact.contactPersonRole == 'FAMILY')">Rodzina</td>
                            <td *ngIf="(contact.contactPersonRole == 'FRIEND')">Znajomy</td>
                            <!--<td><input class="btn btn-danger btn-sm align-items-center" type="button" value="-" (click)="delete_row_contact(indexOfElement)"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pb-4">
                    <h3 class="text-center">Alergie i uczulenia</h3>
                    <hr>
                    <table class=" table mb-0 table-center">
                        <thead>
                        <tr>
                            <th scope="col" class="border-bottom" >Nazwa</th>
                            <th scope="col" class="border-bottom" >Typ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let allergy of allegriesList">
                            <td>{{allergy.name}}</td>
                            <td *ngIf="(allergy.type == 'ALLERGY')" >Alergia </td>
                            <td *ngIf="(allergy.type == 'SENSITIVITY')">Uczulenie </td>
                            <!--<td><input class="btn btn-danger btn-sm align-items-center" type="button" value="-" (click)="delete_row_contact(indexOfElement)"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pb-4">
                    <h3 class="text-center">Przyjmowane leki</h3>
                    <hr>
                    <table class=" table mb-0 table-center">
                        <thead>
                        <tr>
                            <th scope="col" class="border-bottom" >Nazwa leku</th>
                            <th scope="col" class="border-bottom" >Dawka</th>
                            <th scope="col" class="border-bottom" >Co ile</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tabs of medicationsList">
                            <td class="flex-column">{{tabs.name}}</td>
                            <td>{{tabs.portion}}</td>
                            <td>{{tabs.howOften}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pb-4">
                    <h3 class="text-center">Choroby przewlekłe</h3>
                    <hr>
                    <table class=" table mb-0 table-center">
                        <thead>
                        <tr>
                            <th scope="col" class="border-bottom" >Nazwa choroby</th>
                            <th scope="col" class="border-bottom" ></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let illness of illnessList">
                            <td>{{illness.name}}</td>
                            <!--<td><input class="btn btn-danger btn-sm align-items-center" type="button" value="-" (click)="delete_row_contact(indexOfElement)"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Profile End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->