<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/index" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="bg-auth-home d-table w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="me-lg-5">
          <img src="assets/images/user/signup.svg" class="img-fluid d-block mx-auto" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Rejestracja</h4>
            <form class="login-form mt-4" #f="ngForm" (submit)="addNewUser(f)">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Imię<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative" >
                      <i-feather name="user" class="fea icon-sm icons d-flex"></i-feather>
                      <input name="firstName" type="text" class="form-control ps-5 pt-2" placeholder="Imię" ngModel>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Nazwisko <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="user-check" class="fea icon-sm icons d-flex"></i-feather>
                      <input name="lastName" type="text" class="form-control ps-5 pt-2" placeholder="Nazwisko" ngModel>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <form [formGroup]="userEmails" >
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Twój Email <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="mail" class="fea icon-sm icons d-flex"></i-feather>
                      <input [class.is-invalid]="email.invalid && email.touched" name="email" type="email" class="form-control ps-5 pt-2" placeholder="Email" email="true" formControlName="primaryEmail">
                    </div>
                  </div>
                </div>
                <div *ngIf="(email.invalid && email.touched) || email.dirty">
                  <small *ngIf="email.errors?.pattern" class="text-danger">Niepoprawny email</small>
                </div>
                <!--end col-->
                </form>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Hasło <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="key" class="fea icon-sm icons d-flex"></i-feather>
                      <input name="password" type="password" class="form-control ps-5 pt-2" placeholder="Hasło" ngModel>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Powtórz hasło <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="key" class="fea icon-sm icons d-flex"></i-feather>
                      <input name="repeat_password" type="password" class="form-control ps-5 pt-2" placeholder="Powtórz hasło" ngModel>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" name="rules" type="checkbox" value="1" id="flexCheckDefault" [value]="true" [(ngModel)]="isChecked" >
                      <label class="form-check-label" for="flexCheckDefault">Akceptuję <a routerLink=""
                          class="text-primary">Regulamin</a></label>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="d-grid">
                    <span name="information_to_user" class="text-center text-danger">{{information_to_user}}</span>
                    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                  </div>
                </div>
                <!--end col-->

                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark me-2">Posiadasz już konto?</small>
                    <a routerLink="/login" class="text-dark fw-bold">Zaloguj się</a></p>
                </div>
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->