<!-- Hero Start -->
<section class="bg-home bg-light d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="text-center">
                    <div class="d-flex align-items-center justify-content-center mx-auto mb-5">
                        <img src="assets/images/LOGO_2.png" height="95" class="" alt="">
                    </div>
                    <h3 class="my-4 mt-5 fw-bold">Witaj {{this.firstName}}</h3>
                    <p class="text-muted para-desc mx-auto">Dziękujemy za zarejestrowanie konta w Teczce Życia! Zanim zaczniemy,
                    potrzebujemy potwierdzić że to Ty. W tym celu, wysłaliśmy na twój email potwierdzenie.</p>
                    <a routerLink="/index" class="btn btn-soft-primary mt-3">Powrót do strony głównej</a>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->