<!-- Hero Start -->

<!--omowic dokladnie co przechowujemy w aplikacji-->
<!--zastanowic sie nad kolorem czcionki-->
<!--odstep miedzy naglowkem a znajdz pacjenta(?)-->
<!--kolor zdjecia po prawej u samej gory-->
<!--kolorystyka, paleta kolorow-->
<!--stopka-->
<!--zdjecia w sekcji jakie dane mozesz tu przechowac-->
<section class="bg-half-170 d-table w-100 home-wrapper overflow-hidden" id="home">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="title-heading">
          <h4 class="heading my-3">Twoje dane dotyczące <span class="text-primary">zdrowia</span> w jednym miejscu</h4>
          <p class="para-desc text-secondary mb-0">Trzymaj swoją dokumentację medyczną i wyniki badań w jednym miejscu. Teczka Życia przechowuje i porządkuje Twoje dane medyczne, dzięki czemu masz do nich łatwy dostęp w każdej chwili.</p>
          <p class="text-secondary mb-0 mt-3">Nie posiadasz jeszcze konta?<a routerLink="/auth-signup"
                                                                             class="text-primary ms-2 h6 mb-0">Zarejestruj się <i-feather name="arrow-right" class="fea icon-sm">
          </i-feather></a></p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="ms-lg-4">
          <img src="assets/images/illustrator/doctors-cuate.svg" class="img-fluid" alt="">
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>

  <!--end container-->
</section>
<!--end section-->
<section>
  <div class="container mt-50 mt-60">
    <div class="row justify-content-center" id="find_patient">
      <h1 class="text-center">Znajdź pacjenta:</h1>
      <div class="row justify-content-center mt-4 pt-2">
        <div class="col-lg-7 col-md-10">
          <div class="subcribe-form">

            <form class="ms-0">
              <input type="email" id="email" name="email" class="bg-white shadow rounded-pill" placeholder="Kod użytkownika:">
              <button type="submit" class="btn btn-pills btn-primary">Szukaj <i class="uil uil-arrow-right"></i></button>
            </form>
            <!--end form-->
          </div>
          <!--end subscribe form-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="position-relative">
          <img src="assets/images/medical/about.jpg" class="rounded img-fluid mx-auto d-block shadow rounded"
               alt="">
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="section-title ms-lg-5">
          <!--                    <span class="badge rounded-pill bg-soft-primary">O aplikacji</span>-->
          <h4 class="title mt-3 mb-4">O Teczce Życia</h4>
          <p class="text-secondary para-desc">Teczka Życia to nowa aplikacja, której celem jest przechowywanie danych medycznych dostarczonych przez użytkowników.
            Aplikacja została zaprojektowana tak, aby umożliwić pacjentom łatwe i bezpieczne przechowywanie ich dokumentacji medycznej.</p>

          <p class="text-secondary para-desc">Użytkownicy mogą wprowadzać informacje, takie jak przyjmowane leki, alergie, przebyte procedury medyczne lub kontakty w nagłych wypadkach.</p>

          <p class="text-secondary para-desc mb-0">Aplikacja Teczka Życia oferuje bezpieczną alternatywę do zapisywania tych danych, do których można uzyskać dostęp z dowolnego miejsca w Internecie.
            Dostęp do tego folderu możesz uzyskać Ty lub Twój lekarz za pośrednictwem bezpiecznego loginu chronionego hasłem.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-end ">
      <div class="col-md-8">
        <div class="section-title text-center text-md-start">
          <h4 class="title">Jakie dane możesz tu przechować?</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <div class="d-flex">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active"
            class="nav nav-pills flex-column bg-white rounded shadow p-3 mb-0 col-md-4" orientation="vertical">
          <li ngbNavItem="top" class="nav-item">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Alergie</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="alergie"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/dental.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Alergie</h5>
                  <p class="text-secondary my-3">W <span class="text-primary">Teczce Życia</span> możesz przechowywać informacje dotyczące Twoich alergii. Dzięki temu
                    w nagłym wypadku lekarz będzie mógł sprawdzić na co jesteś uczulony/a, dzięki czemu będzie mógł lepiej rozeznać się w Twoim stanie zdrowia oraz dobrać odpowiednie leki.<br>
                    Pozwala to również na sprawdzenie wszystkich naszych uczuleń, co pozwala na wymienienie wszystkich alergii, nawet jeżeli o jakiejś zapomnimy.
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="middle" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Przyjmowane leki</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="leki"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/cardio.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Przyjmowane leki</h5>
                  <p class="text-secondary my-3">Przechując informacje o przyjmowanych lekach w <span class="text-primary">Teczce Życia</span> podczas wizyty u lekarza będziesz w stanie podać wszystkie medykementy, z których korzystałeś/łaś w ostatnim czasie<br>
                    Dzięki temu twój lekarz będzie mógł lepiej dobrać odpowiednią kurację. Pozwala to także zwiększyć twoje bezpieczeństwo w nagłych wypadkach.
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="bottom" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Choroby przewlekłe</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="choroby"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/eyecare.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Choroby przewlekłe</h5>
                  <p class="text-secondary my-3">Osoby cierpiące z powodu chorób przewlekłych niestety zmuszone są do częstych wizyt w szpitalu, niestety czasem w sytuacjach krytycznych. Dzięki możliwości przechowywania informacji o chorobach przewlekłych w
                    <span class="text-primary">Teczce Życia</span> specjaliści będą mieli natychmiastowy dostęp do historii Twoich chorób przewlekłych</p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="general" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Kontakt z rodziną</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="kontakt"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/general.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Kontakt z rodziną</h5>
                  <p class="text-secondary my-3">W <span class="text-primary">Teczce Życia</span> możesz przechowywać dane kontaktowe do swoich bliskich, dzięki czemu w sytuacji kryzysowej lekarz, bądź ratownik będzie w stanie poinformować Twoich bliskich o Twoim stanie.<br>
                    W <span class="text-primary">Teczce Życia</span> można przechowywać także dane kontaktowe do lekarzy prowadzących, dzięki uzyskasz łatwy dostęp do wszystkich numerów Twoich specjalistów. </p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="medicine" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Szczepienia</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="szczepienia"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/medicine.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Szczepienia</h5>
                  <p class="text-secondary my-3">Dzięki przechowywaniu w <span class="text-primary">Teczce Życia</span> informacji dotyczących Twoich szczepień będziesz mógł/mogła w łatwy sposób kontrolować swoje szczepienia okresowe.</p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="orthopadic" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Wyniki badań</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="wyniki"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/orthopedic.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Wyniki badań</h5>
                  <p class="text-secondary my-3">Przechując w <span class="text-primary">Teczce Życia</span> swoje aktualne wyniki podstawowych badań zyskujesz do nich łatwy oraz szybki dostęp, bez potrzeby noszenia ze sobą wydrukowanego raportu.</p>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="wizyty" class="nav-item mt-2">
            <a ngbNavLink>
              <div class="text-start py-1 px-2">
                <h6 class="mb-0">Wizyty u specjalistów</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="wizyty"
                   role="tabpanel" aria-labelledby="dentalcare">
                <img src="assets/images/medical/medicine.jpg" class="img-fluid rounded shadow" alt="">
                <div class="mt-4">
                  <h5>Wizyty u specjalistów</h5>
                  <p class="text-secondary my-3">W <span class="text-primary">Teczce Życia</span> możesz przechowywać także daty swoich ostatnich wizyt u specjalistów. Dzięki temu w łatwy sposób możesz sprawdzić ile czasu minęło od ostatniej wizyty, oraz kiedy powinno umówić się na następną wizytę.</p>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="ms-4 col-md-8"></div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->

<!-- Back to top -->
<section class="section">
  <div class="container mt-0 mt-0" id="faq" #faq>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title mb-4 pb-2 text-center">
          <h4 class="title mb-4">Czesto zadawane pytania</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Jak <span class="text-primary">Teczka Życia</span> działa?</h5>
            <p class="answer text-secondary mb-0">Teczka Życia służy do ułatwienia użytkownikom kontrolowania informacji o swoim zdrowiu. Korzystając z naszego produktu łatwiej przygotujesz się do wizyty u lekarza, a także będziesz mieć
              natychmiastowy dostęp do przechowywanych w niej informacji także podczas samej wizyty.<br>Poprzez <span class="text-primary">Teczkę Życia</span> możesz się także zabezpieczyć na wypadek sytuacji awaryjnej, kiedy nie będziesz w stanie osobiście przekazać informacji o swoim zdrowiu lekarzowi, bądź ratownikowi.
              Poprzez wykorzystanie Twojego unikalnego kodu, lub kodu QR, ratownik bądź lekarz może sprawdzić udostępnione przez Ciebie, oraz wybrane do pokazania w Twojej <span class="text-primary">"Karcie Pacjenta"</span> informacje o Twoim zdrowiu.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Kto widzi moje wyniki?</h5>
            <p class="answer text-secondary mb-0">Dostęp do Twoich danych możliwy jest na dwa sposoby, w pełni kontrolowane przez Ciebie. Dane, które wprowadzasz do swojej <span class="text-primary">Teczki Życia</span> dostępne są jedynie po zalogowaniu na Twoje konto. Poprzez pełne szyfrowanie danych będą one w pełni bezpieczne.<br>
              Aby stworzyć możliwość zobaczenia części Twoich danych po uzyskaniu dostępu konieczne jest stworzenie <span class="text-primary">"Karty Pacjenta"</span>. Dostęp do niej można uzyskać poprzez wpisanie unikalnego, anonimowego kodu w wyszukiwarkę pacjentów, otworzenie przesłanego linku lub zeskanowanie kodu QR.
              Poprzez udostępnienie swoich najważniejszych danych w <span class="text-primary">"Karcie Pacjenta"</span> lekarz lub ratownik medyczny będzie mieć do nich natychmiastowy dostęp, co może pomóc w ratowaniu Twojego zdrowia lub życia.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 offset-md-3 mt-4 pt-2 pb-5">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Czy moje dane są bezpieczne?</h5>
            <p class="answer text-secondary mb-0">Oczywiście, że tak! Twoje dane są w pełni szyfrowane, a dane dostępne w <span class="text-primary">"Karcie pacjenta"</span> są wybierane przez Ciebie!
              Dzięki temu dostęp do danych których nie chcesz w niej udostępniać będą w pełni bezpieczne, a dostęp do nich zyzskasz po zalogowaniu na swoje konto.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-light">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- End -->

<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->