<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/index-hospital" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="me-lg-5">
          <img src="assets/images/user/recovery.svg" class="img-fluid d-block mx-auto" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Odzyskiwanie konta</h4>
            <form [formGroup]="rePasswordForm" #fa="ngForm" (ngSubmit)="forgotPassword(fa)" class="login-form mt-4">
              <div class="row">
                <div class="col-lg-12">
                  <p class="text-muted">Proszę podać adres email, który użyto przy rejestracji. Na ten adres email zostanie wysłane nowe wygenerowane hasło.</p>
                  <div class="mb-3">
                    <label class="form-label">Adres email <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                      <div class="form-group">
                        <input type="text" class="form-control ps-5" placeholder="Podaj adres email" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Należy wpisać swój e-mail</div>
                          <div *ngIf="f.email.errors.pattern">Niepoprawna forma e-mail'u</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div class="d-grid">
                    <span name="information_to_user" class="text-center text-danger">{{information_to_user}}</span>
                    <div *ngIf="showSuccessEmail" class="alert alert-success" role="alert">
                      <b>E-mail zawierający nowe wygenerowane hasło został wysłany. Powinieneś go otrzymać w ciągu 10 minut.</b></div>
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                  </div>
                </div>
                <!--end col-->
                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark me-2">Pamiętasz hasło?</small> <a
                      routerLink="/login" class="text-dark fw-bold">Zaloguj się</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->